In [1]:
import pandas as pd
import cleandata.combineagg as ca

In [2]:
coviddaily = pd.read_csv('data/coviddaily720.csv')
ltbrazil = pd.read_csv('data/ltbrazil.csv')
countries = pd.read_csv('data/ltcountries.csv')
locations = pd.read_csv('data/ltlocations.csv')

In [3]:
ca.adj_means(coviddaily, 'location', 'new_cases', 'casedate')

             by_var     avg_var  sum_var  by_var_cnt
0       Afghanistan  186.221622  34451.0         185
1           Albania   26.753968   3371.0         126
2           Algeria   98.484211  18712.0         190
3           Andorra    7.066116    855.0         121
4            Angola    4.274336    483.0         113
..              ...         ...      ...         ...
204         Vietnam    1.937173    370.0         191
205  Western Sahara    6.653846    519.0          78
206           Yemen   14.776596   1389.0          94
207          Zambia   16.336207   1895.0         116
208        Zimbabwe    8.614035    982.0         114

[209 rows x 4 columns]

In [4]:
ca.adj_means(coviddaily, 'location', 'new_cases', 'casedate', 150)

             by_var     avg_var  sum_var  by_var_cnt
0       Afghanistan  141.968750  22715.0         160
1           Albania   26.753968   3371.0         126
2           Algeria   94.133690  17603.0         187
3           Andorra    7.066116    855.0         121
4            Angola    4.274336    483.0         113
..              ...         ...      ...         ...
204         Vietnam    1.937173    370.0         191
205  Western Sahara    2.186667    164.0          75
206           Yemen   14.776596   1389.0          94
207          Zambia   11.190909   1231.0         110
208        Zimbabwe    8.614035    982.0         114

[209 rows x 4 columns]

In [5]:
ca.check_merge(countries.copy(), locations.copy(), "countryid", "countryid")

in_right  N      Y
in_left
N         0      1
Y         2  27472
      countryid in_left in_right
9715         LQ       Y        N
13103        ST       Y        N
27474        FO       N        Y

In [6]:
landtemps = ca.add_files("data/ltcountry")

ltbrazil.csv has 1104 rows.
ltcameroon.csv has 48 rows.
ltindia.csv has 1056 rows.
ltjapan.csv has 1800 rows.
ltmexico.csv has 852 rows.
ltoman.csv has 288 rows.

Different columns names for:
ltoman.csv
Index(['latabs'], dtype='object')

ltpoland.csv has 120 rows.
Columns Matched:  False